<%= form_for @article do |f| %>
<% if @article.errors.any? %>
<div id="error_explanation">
	<h4><%= pluralize(@article.errors.count, "error") %> prohibited
	this article from being saved:</h4>
	<ul>
		<% @article.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class = "form-group">
	<%= f.label :title %>
	<br>
	<%= f.text_field :title, class: "form-control" %>
</div>

<div class = "form-group">
	<%= f.label :summary %>
	<br>
	<%= f.text_area :summary, class: "form-control" %>
</div>

<div class = "form-group">
	<%= f.label :text %>
	<br>
	<%= f.text_area :text, id: "article_text", class: "form-control" %>
</div>

<div class = "form-group">
	<%= f.label :tags %>
	<br />
	<%= text_field_tag "tag", nil, placeholder: "Add tags", id: "auto_complete", class: "form-control" %>
</div>
<div>
	<p>
		<%= f.submit %>
	</p>
</div>
<% end %>