<!DOCTYPE html>
<html>
	<head>
		<title>Blog</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body class="<%= controller_name %> <%= action_name %>">
		<div class="navbar navbar-inverse navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<%= link_to 'Drew Smith\'s Blog', {:controller => "/welcome", :action => "index"}, {:class => "navbar-brand"} %>
					<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse navHeaderCollapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<%= link_to 'Home', {:controller => "/welcome", :action => "index"} %>
						</li>
						<li>
							<%= link_to 'Blog', {:controller => "/articles", :action => "index"} %>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Social Media <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">Twitter</a>
								</li>
								<li>
									<a href="#">Facebook</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">About</a>
						</li>
						<li>
							<a href="#contact" data-toggle="modal">Contact Me</a>
						</li>

						<% if user_signed_in? %>
						<li>
							<%= link_to current_user.first_name, edit_user_registration_path, :class => 'navbar-link' %>
						</li>
						<li>
							<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
						</li>
						<% else %>
						<li>
							<a href="#register" data-toggle="modal">Sign up</a>
						</li>
						<li>
							<a href="#login" data-toggle="modal">Log in</a>
						</li>
						<% end %>

					</ul>
				</div>
			</div>
		</div>
		<p class="notice">
			<%= notice %>
		</p>
		<p class="alert">
			<%= alert %>
		</p>
		<%= yield %>

		<div class="navbar navbar-inverse navbar-fixed-bottom">
			<div class="container">
				<p class="navbar-text pull-left">
					Site built by Drew Smith
				</p>
				<a class="navbar-btn btn-primary btn pull-right">Contact Me!</a>
			</div>
		</div>

		<div class="modal fade" id = "contact" role = "dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<form class = "form-horizontal">
						<div class="modal-header">
							<h4>Contact Me</h4>
						</div>
						<div class="modal-body">
							<div class = "form-group">
								<label for = "txtContact-Name" class = "col-lg-2 control-label">Name:</label>
								<div class = "col-lg-10">
									<input class = "form-control" type = "text" id = "txtContact-Name" placeholder="Full Name" />
								</div>
							</div>
							<div class = "form-group">
								<label for = "txtContact-Email" class = "col-lg-2 control-label">Email:</label>
								<div class = "col-lg-10">
									<input class = "form-control" type = "email" id = "txtContact-Email" placeholder="Email" />
								</div>
							</div>
							<div class = "form-group">
								<label for = "txtContact-Msg" class = "col-lg-2 control-label">Message:</label>
								<div class = "col-lg-10">
									<textarea class="form-control" id="txtContact-Msg" rows="8"></textarea>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<a class="btn btn-default" data-dismiss="modal">Close</a>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal fade" id = "login" role = "dialog">
			<div class="modal-dialog">
				<div class = "modal-content">
					<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal"} ) do |f| %>
					<div class="modal-header">
						Log in
					</div>
					<div class = "modal-body">
						<div class="form-group field">
							<%= f.label :email, class: "col-lg-2 control-label" %>
							<div class = "col-lg-10">
								<%= f.email_field :email, autofocus: true, class: "form-control" %>
							</div>
						</div>

						<div class="form-group field">
							<%= f.label :password, class: "col-lg-2 control-label" %>
							<div class = "col-lg-10">
								<%= f.password_field :password, autocomplete: "off", class: "form-control" %>
							</div>
						</div>

						<% if devise_mapping.rememberable? -%>
						<div class = "form-group">
							<div class = "col-lg-offset-2 col-lg-10">
								<div class="checkbox">
									<label> <%= f.check_box :remember_me %> Remember me </label>
								</div>
							</div>
						</div>
						<div class = "form-group">
							<div class = "col-lg-offset-2 col-lg-10">
								<a href="#register" data-dismiss="modal" data-toggle="modal">Not a member?</a><br/>
								<%= link_to "Forgot your password?", new_password_path(resource_name) %>
							</div>
						</div>
						<% end -%>
						<div class="actions modal-footer">
							<%= f.submit "Log in", class: "btn btn-primary" %>
							<a class="btn btn-default" data-dismiss="modal">Close</a>
						</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="register" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal"}) do |f| %>
					<div class="modal-header">
						Sign up
					</div>
					<div class="modal-body">
						<%= devise_error_messages! %>

						<div class="form-group field">
							<%= f.label :email, class: "col-lg-2 control-label"   %>
							<div class="col-lg-10">
								<%= f.email_field :email, autofocus: true, class: "form-control" %>
							</div>
						</div>

						<div class="form-group field">
							<%= f.label :password, class: "col-lg-2 control-label" %>
							<% if @validatable %>
							<em>(<%= @minimum_password_length %> characters minimum)</em>
							<% end %>
							<div class="col-lg-10">
							<%= f.password_field :password, autocomplete: "off", class: "form-control" %>
							</div>
						</div>

						<div class="form-group field">
							<%= f.label :password_confirmation, class: "col-lg-2 control-label" %>
							<div class="col-lg-10">
							<%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
							</div>
						</div>
						
						<div class = "form-group">
							<div class = "col-lg-offset-2 col-lg-10">
								<a href="#login" data-dismiss="modal" data-toggle="modal">Already a member?</a>
							</div>
						</div>

						<div class="modal-footer actions">
							<%= f.submit "Sign up", class: "btn btn-primary" %>
							<a class="btn btn-default" data-dismiss="modal">Close</a>
						</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
